*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}


.intro {
  color: white;
  padding: 5px 10px
}

.user-badge {
  color: white;
  background-color: #0D6EFD;
  width:100%;
  margin: 5px 0px;
  border-radius: 5px;
}

.user-label {
  color: white;
  border-radius: 5px;
  background-color: #0D6EFD;
  width:100%;
  margin: 5px 0px;
}

.user-badge:hover{
  background-color: gray;
}

.user-list input {
  width: 100%;
}

h2 {
  display:inline-block;
}

/* .category-tag{
  padding: 5px;
  color:black;
  background-color: white;
}
.category-tag:hover {
  background-color: lightblue;
  padding: 5px;
  color: #0D6EFD;
} */

.post {
  border: 2px #0D6EFD solid;
  margin-bottom: 20px;
  width: 90%;
  display: inline-block;
  border-radius: 5px;
}

.postheader {
  display: flex;
  /* justify-content: space-around; */
  background-color: #0D6EFD;
  color: white;
  font-size: larger;
  padding: 5px;
  margin: 0px;
}

.postsubhead {
  display: flex;
  justify-content: space-between;
  background-color: #0D6EFD;
  color: white;
  padding: 5px;
  margin: 0px;
}

.postbody {
  margin-bottom: 10px;
}

.postwrap{
  margin: 10px;
  padding: 10px;
}

/* .postform {
  border: 2px #0D6EFD solid;
  border-radius: 5px;
  margin: 20px;
  width: 90%;
  display: inline-block
} */

.formheader{
    display: flex;
    justify-content: space-around;
    background-color: #0D6EFD;
    color:white;
    font-size: larger;
    width: 100%;
    margin: 0px;
    padding: 5px;
}

.formbody{
  margin: 10px;
  padding: 10px;
}

.postcontent {
  margin-top: 10px;
}

.welcome {
  width: 75%;
  margin: 20px 0px;
}

.headerbody {
  display: flex;
  justify-content: space-around;
}

.usernamelink {
  color:white;
  padding: 5px;
  /* text-decoration: none; */
}

.usernamelink:hover {
  /* background-color: lightblue; */
  padding: 5px;
  color:  lightblue;
  text-decoration: none;
}

input, textarea, select {
  margin-bottom: 10px;
  padding-left: 5px;
  margin-top: 10px;
}

label {
  width: 100px
}

.center{
  display: flex;
  justify-content: space-around;
}